<%= Gon::Base.render_data %>

<p class="mt-4">青いボタン</p>
<button type="button" class="btn btn-primary btn-block">ボタン</button>

<p class="mt-4">flatpickr</p>
<input class="form-control bg-white my-4" id="date-form" type="text" placeholder="日付を設定" readonly>

<p class="mt-4">折れ線グラフ「Chart.js」</p>
<div class="row">
  <canvas id="line-chart"></canvas>
</div>

<script>

</script>