<p class="mt-4">青いボタン</p>
<button type="button" class="btn btn-primary btn-block">ボタン</button>

<p class="mt-4">flatpickr</p>
<input class="form-control bg-white my-4" id="date-form" type="text" placeholder="日付を設定" readonly>

<p class="mt-4">折れ線グラフ「Chart.js」</p>
<div class="row">
  <canvas id="line-chart"></canvas>
</div>

<script>

    const today = new Date(new Date().setHours(0, 0, 0, 0))
    const a_month_ago = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate())

    const disable_dates = ['2019-12-10', '2019-12-20', '2019-12-30', '2020-01-10', '2020-1-20', '2020-01-30']

    flatpickr.localize(flatpickr.l10ns.ja);

    flatpickr('#date-form', {
        disableMobile: true,
        minDate: a_month_ago,
        maxDate: today,
        disable: disable_dates
    });

    let lineLabel = ['1/1', '1/2', '1/4', '1/5', '1/6', '1/7']
    let lineData = [60.3, 61.1, 60.8, null, 60.5, 61.4]

    const lineChartData = {
        labels: lineLabel,
        datasets: [{
            label: '体重(kg)',
            data: lineData,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            spanGaps: true
        }]
    }

    const lineChartOption = {
        title: {
            display: true,
            text: '折れ線グラフ'
        },
        tooltips: {
            callbacks: {
                title: function (tooltipItems) {
                    return tooltipItems[0].xLabel.replace(/^(\d+).(\d+)$/, ' $1 月 $2 日')
                },
                label: function (tooltipItem) {
                    return '体重: ' + tooltipItem.yLabel + 'kg'
                }
            }
        }
    }

    const lineChartContext = document.getElementById("line-chart").getContext('2d')
    new Chart(lineChartContext, {
        type: 'line',
        data: lineChartData,
        options: lineChartOption
    })
</script>